@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CooperMedium";
	src: url("../fonts/Cooper/CooperHewitt-Medium.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CooperLight";
	src: url("../fonts/Cooper/CooperHewitt-Light.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CooperThin";
	src: url("../fonts/Cooper/CooperHewitt-Thin.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CooperHeavy";
	src: url("../fonts/Cooper/CooperHewitt-Heavy.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Andada";
	src: url("../fonts/Andada/Andada-Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AndadaSC";
	src: url("../fonts/Andada/AndadaSC-Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Andada";
	src: url("../fonts/Andada/Andada-Bold.otf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "AndadaSC";
	src: url("../fonts/Andada/AndadaSC-Bold.otf");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Arvo";
	src: url("../fonts/Arvo/Arvo-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-Regular.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-Light.otf");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-ExtraLight.otf");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-Semibold.otf");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-Bold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "SSans";
	src: url("../fonts/SSans/SourceSansPro-LightIt.otf");
	font-style: italic;
	font-weight: 300;
}