*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
  outline-color: transparent;
}
a:active {
  outline: none;
  moz-outline: none;
  outline-color: transparent;
}
a:visited {
  outline: none;
  moz-outline: none;
  outline-color: transparent;
}
a:focus {
  outline: none;
  moz-outline: none;
  outline-color: transparent;
}
.clear {
  clear: both;
}
* {
  -webkit-font-smoothing: antialiased;
  outline: none;
}
html,
body {
  opacity: 0;
  transition: opacity 0.7s;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular";
  overflow-x: hidden;
}
li {
  text-decoration: none;
  list-style: none;
}
.hidden {
  display: none;
}
.firstSection {
  width: 100%;
  background: url(../img/firstBackground2.png) top center no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20px;
}
header {
  width: 1070px;
  height: 196px;
  background: rgba(0, 0, 0, 0.54);
  margin: 0 auto;
}
.mainLogo {
  display: block;
  height: 143px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.img {
  display: block;
  margin: 0 auto;
}
.mainLogo > p {
  line-height: 0;
  text-align: center;
  color: #fff;
  font-family: 'Orator Std';
  font-weight: 400;
  font-size: 23px;
}
.headerNav {
  position: relative;
  width: 980px;
  height: 40px;
  margin: 0 auto;
}
.headerNav ul {
  min-width: 10px;
  padding: 0;
  float: left;
}
.headerNav ul li {
  float: left;
  width: 123px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  font-family: "Andada";
  font-size: 17px;
  transition: background 0.2s;
}
.headerNav ul li:hover {
  background: rgba(255, 255, 255, 0.23);
  cursor: pointer;
}
.headerNav ul li:nth-of-type(n+2) {
  margin-left: 30px;
}
.headerNav ul:nth-of-type(n+2) {
  float: right;
}
.headerNav ul:nth-of-type(n+2) li {
  margin-left: 0;
}
.headerNav ul:nth-of-type(n+2) li:first-child {
  margin-right: 30px;
}
.phrase {
  position: relative;
  width: 730px;
  background: rgba(0, 0, 0, 0.54);
  margin: 0 auto;
  padding: 21px 46px;
  margin-top: 290px;
}
.phrase p {
  color: #fff;
  font-family: "Andada";
  font-size: 20px;
}
.phrase p span {
  font-family: "Andada";
  font-weight: bold;
  font-size: 1.1em;
}
.phrase .fns {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font-family: "SSans";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
.firstArrow {
  text-align: center;
  height: 60px;
  padding: 15px 0;
}
.firstArrow img:hover {
  cursor: pointer;
}
.secondSection {
  height: 640px;
}
.sectionName {
  font-family: "Andada";
  font-style: bold;
  color: #b1b1b1;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.sectionName:before {
  content: '.';
  color: #cd4e4e;
  font-family: "Andada";
  font-weight: 600;
}
.sectionDescription {
  font-family: "SSans";
  font-weight: 300;
  color: #b1b1b1;
  text-align: center;
  font-size: 22px;
}
.controls .all {
  text-align: center;
  border: 1px solid #c3645f;
  color: #c3645f;
  font-size: 16px;
  font-family: "SSans";
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}
.controls .web {
  text-align: center;
  border: 1px solid #3498db;
  color: #3498db;
  font-size: 16px;
  font-family: "SSans";
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}
.controls .android {
  border: 1px solid #52ac62;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #52ac62;
  display: inline-block;
  font-size: 16px;
  font-family: "SSans";
}
.controls .android i {
  vertical-align: center;
  font-size: 17px;
  color: #52ac62;
  display: inline;
}
#Container .mix {
  display: none;
}
.galleryContainer {
  margin: 0 auto;
  width: 939px;
  margin-top: 20px;
}
#Container .mix {
  width: 310px;
  height: 230px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}
#Container .mix img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#Container .mix .galleryHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(232, 121, 121, 0.79);
  padding: 70px;
  opacity: 0;
  transition: opacity .3s;
}
#Container .mix .galleryHover:hover {
  opacity: 1;
  cursor: pointer;
}
#Container .mix .galleryHover i {
  color: #fff;
  font-size: 100px;
  display: inline;
}
#Container .mix.loaded img {
  opacity: 1;
}
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 0px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}
.white-popup img {
  width: 100%;
}
.thirdSection {
  text-align: center;
}
.thirdSection .meAvatar {
  box-sizing: content-box;
  margin: 130px auto 0;
  overflow: hidden;
  width: 270px;
  height: 255px;
  border-radius: 50%;
  border: 10px solid #e8e8e8;
}
.thirdSection .meAvatar:hover {
  cursor: pointer;
}
.thirdSection .meAvatar img {
  margin: 0;
}
.thirdSection .sectionName {
  margin: 0;
}
.thirdSection .sectionDescription {
  margin: 0;
}
.thirdSection-text {
  width: 939px;
  font-family: "SSans";
  font-weight: 300;
  font-size: 21px;
  margin: 65px auto 0;
  text-align: center;
  color: #848484;
}
.thirdSection-text span {
  color: #747474;
  font-weight: 400;
}
.fourthSection {
  background: #fff;
  width: 980px;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 900px;
}
.fourthSection .bulbBlock {
  width: 980px;
  margin: 0 auto;
}
.fourthSection .bulbBlock img {
  width: 40px;
  margin: 0 5px;
}
.fourthSection .bulbBlock .borderBlock {
  width: 465px;
  float: left;
  height: 4px;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  margin-top: 30px;
}
.fourthSection .bulbBlock img {
  float: left;
}
.fourthSection .skill-icons {
  padding: 0;
  margin: 70px auto 120px;
  width: 980px;
  height: 125px;
}
.fourthSection .skill-icons .skill-icon {
  float: left;
  width: 130px;
}
.fourthSection .skill-icons .skill-icon img {
  width: 100%;
}
.fourthSection .skill-icons .skill-icon:nth-child(n+2) {
  margin-left: 40px;
}
.fourthSection .stats {
  float: left;
  padding: 0;
  width: 490px;
}
.fourthSection .stats li {
  padding: 0px 6px;
  font-family: "SSans";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: #333;
  border-radius: 4px;
  color: #fff;
  position: relative;
}
.fourthSection .stats li:nth-child(n+2) {
  margin-top: 15px;
}
.fourthSection .stats .html {
  width: 380px;
  background: #e37b4e;
}
.fourthSection .stats .html:after {
  position: absolute;
  right: 4px;
  content: '98%';
}
.fourthSection .stats .css {
  width: 360px;
  background: #7bb6cf;
}
.fourthSection .stats .css:after {
  position: absolute;
  right: 4px;
  content: '90%';
}
.fourthSection .stats .js {
  width: 312px;
  background: #3e647d;
}
.fourthSection .stats .js:after {
  position: absolute;
  right: 4px;
  content: '78%';
}
.fourthSection .stats .android {
  width: 240px;
  background: #c0dd66;
}
.fourthSection .stats .android:after {
  position: absolute;
  right: 4px;
  content: '60%';
}
.fourthSection .stats .java {
  width: 184px;
  background: #849ebd;
}
.fourthSection .stats .java:after {
  position: absolute;
  right: 4px;
  content: '46%';
}
.fourthSection .stats .ph {
  width: 348px;
  background: #5c53a0;
}
.fourthSection .stats .ph:after {
  position: absolute;
  right: 4px;
  content: '87%';
}
.fourthSection .statsText {
  font-family: "SSans";
  font-weight: 300;
  font-size: 19px;
  color: #848484;
}
.textMeBlock {
  background: url(../img/text.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  width: 100%;
  height: auto;
  padding: 190px 0 150px 0;
}
.textMeBlock .textMeName {
  font-family: "Andada";
  font-style: bold;
  color: #fff;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.textMeBlock .textMeName:before {
  content: '.';
  color: #cd4e4e;
  font-family: "Andada";
  font-weight: 600;
}
.fifthSection {
  height: 400px;
  text-align: center;
}
.fifthSection .sectionName {
  margin-bottom: 70px;
}
.fifthSection p {
  font-family: "Andada";
  font-weight: 300;
  font-size: 18px;
  color: #848484;
}
.fifthSection p strong {
  font-family: "Andada";
  font-size: 17px;
}
.fifthSection .socialButtons {
  width: 265px;
  margin: 10px auto;
}
.fifthSection .socialButtons .socialButton {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #fff;
  width: 125px;
  text-transform: uppercase;
  float: left;
  font-family: "Andada";
  font-weight: 300;
  font-size: 0.9em;
  position: relative;
  transition: all .3s;
}
.fifthSection .socialButtons .socialButton a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.fifthSection .socialButtons .googleButton {
  border-color: #e88e77;
  color: #e88e77;
}
.fifthSection .socialButtons .googleButton:hover {
  background: #e88e77;
  color: #fff;
  cursor: pointer;
}
.fifthSection .socialButtons .vkButton {
  margin-left: 15px;
  border-color: #7190b1;
  color: #7190b1;
}
.fifthSection .socialButtons .vkButton:hover {
  background: #7190b1;
  color: #fff;
  cursor: pointer;
}
footer {
  padding-top: 100px;
  height: 490px;
  width: 100%;
  background: url(../img/footer4.jpg) no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
footer img {
  margin-bottom: 50px;
}
footer img:hover {
  cursor: pointer;
}
footer p {
  font-family: "SSans";
  font-weight: 400;
  font-size: 17px;
}
footer p i {
  color: #fc472e;
  display: block;
}
footer p i:hover {
  cursor: pointer;
}
footer p:last-child {
  font-size: 0.9em;
  font-family: "Andada";
  font-weight: 400;
}
